 .navbar-form {
    margin-top: 0;
    margin-bottom: 0;
}

    .navbar-form .input-group {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .side-navbar {
        padding-top: 50px;
        width: 150px;
        display: inline-block;
        background-color: #3A3A3A;
        position: absolute;
        min-height: calc(100% - 50px);
    }
    
        .side-navbar .btn {
            background-color: #222;
            color: #f9f9f9;
            margin-right: -15px;
            font-size: 10px;
            padding: 5px;
            float: right;
            position: relative;
            z-index: 1031;
        }
    

.content-body {
    position:relative;
    padding-top: 50px;
    margin-left: 150px;
}

.copyright {
    color: #f9f9f9;
    margin-top: 12px;
    text-align: center;
    font-size: 14px;
}

.animate-slide {    
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;   
}

.side-navbar.side-navbar-hidden{
    margin-left: -150px;
}
.side-navbar.side-navbar-visible{
    margin-left: 0px;
}
.content-body.side-navbar-hidden{
    margin-left: 0px;
}
.content-body.side-navbar-visible{
    margin-left: 150px;
}

@media (max-width : 767px) {
    .content-body {
        padding-top: 50px;
        margin-left: 0px;
    }
} 
